<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>Holiday Details</title>
</head>

<body>
<h1 th:text="${holiday.name}">Plan Details</h1>
<p>Total Amount: £<span th:text="${holiday.totalAmount}">Total Amount</span></p>
<p>Number of People: <span th:text="${holiday.numPeople}">Number of People</span></p>

<h2>People:</h2>
<ul>
    <li th:each="personWithTotalPaid : ${peopleWithTotalPaid}">
        <a th:href="@{/people/{id}(id=${personWithTotalPaid.person.id})}" th:text="${personWithTotalPaid.person.name}">Person Name</a>
        <p>- Remaining Balance: £<span th:text="${personWithTotalPaid.person.toPay}">Amount</span></p>
        <p>- Total Paid: £<span th:text="${personWithTotalPaid.totalPaid}">Total Paid</span></p>
    </li>
</ul>
        <h3>Payments:</h3>
<!--        <ul>-->
<!--            <li th:each="payment : ${personWithTotalPaid.person.payments}">-->
<!--                Amount: £<span th:text="${payment.amount}">Amount</span> - Date: <span th:text="${#dates.format(payment.paymentDate, 'dd-MM-yyyy')}">Date</span>-->
<!--            </li>-->
<!--        </ul>-->
<ul>
    <li th:each="payment : ${allPayments}" >
        <p><span th:text="${payment.person.name}">Person Name</span> - £<span th:text="${payment.amount}"></span> - Date :<span th:text="${#dates.format(payment.paymentDate, 'dd-MM-yyyy')}">Date</span></p>

    </li>
</ul>
        <br>


<a th:href="@{/payments/add(holidayId=${holiday.id})}">Add Payment</a><br>
<a th:href="@{/holidays}">Back to Payment Plans</a>

</body>
</html>